/* 顶部 */
.top{
    width: 100%;
    height: 30px;
    line-height: 30px;
}
.top-right{
    float:right;
}
.top p{
display: inline-block;
/* font-size: 14px; */
color: #000000;
}
.top p a{
    color: #00bcb4;
    margin: 0 5px;
}
.top-right>a{
    color: #666666;
    /* font-size: 14px; */
    padding: 0 12px;
    border-left: 2px solid #e7e7e7;
}
.top-right>a i{
    margin: 0 6px;
}
.top-right>a:hover span{
    color: #00bcb4;
}
/* 顶部搜索 */
.search{
    width: 100%;
height: 65px;
margin-bottom: 20px;
margin-top: 20px;
}
.search>img{
    float: left;
    width: 130px;
    height: 53px;
}
.srech-area{
    display: inline-block;
    width: 567px;
    height: 48px;
    border: 2px solid #45b5d9;
    margin-left: 172px;
    box-sizing: border-box;
    line-height: 50px;
    border-radius: 6px;
    margin-top: 20px;
}
.srech-area input{
    width: 400px;
    height: 40px;
    margin-left: 10px;
    border: none;
}
.srech-area input:focus{
    placeholder:
}
.srech-area button{
    float: right;
    width: 65px;
    height: 44px;
    border:none;
    background: linear-gradient(116deg,#00d0d4 5%,#00c5c3 51%,#9effa4 100%);
}
.search-service{
    float: right;
    display: inline-block;
    margin-top: -40px;
    margin-right:25px;
}
.search-service img{
    float: left;
    width: 48px;
    height: 45px;
    margin-top: -10px;
}
.search-service-left{
display: inline-block;
margin: 0 5px;
color: #333333;
line-height: 1.4;
}
.search-service-right{
    display: inline-block;
    text-align: right;
    color: #00d0d4;
    line-height: 1.4;
}
/* 顶部导航 */
.topnav{
    width: 100%;
    height: 44px;
    line-height: 44px;
    background: linear-gradient(90deg,#00d0d4 19%,#00c5c3 58%,#9effa4 100%);
margin: 20px 0;
}
.topnav a{
    float: left;
    height: 100%;
    font-size: 16px;
    color: #fff;
    padding: 0 11px;
    font-weight: 700;
}
.topnav a:first-child{
    background-color: #45b5d9;
}
.topnav a:hover{
    background-color: #45b5d9;
}
.topnav img{
    position: absolute;
    top: -8px;
    right: 866px;

}
/* 机票查询 */
.ticket{
    width: 100%;
}
.ticket-search{
    float: left;
   width: 722px;
   height: 320px;
   box-sizing: border-box;
}
.ticket-ad{
    float: right;
   position: relative;
}
.ticket-ad a img{
    width: 464px;
    height: 323px;
}
.ticket-ad>img{
    position: absolute;
    bottom: 0;
    left: 0;
}
.ticket-search{
    width: 721px;
    height: 323px;
    border: 6px solid #00d0d4;
    box-sizing: border-box;
}
.ticket-search ul{
    float: left;
    height: 307px;
    width: 72px;
    background-color: #00d0d4;
}
.ticket-search li a{
    display:block;
    width: 72px;
    height: 39px;
    line-height: 39px;
    padding: 0 15px;
    background-color: #00d0d4;
    box-sizing: border-box;
    color: #fff;
}
.ticket-search li:first-child a{
    background-color:#fff;
    color:#00d0d4 ;
}
.ticket-search li a:hover{
    background-color:#fff;
    color:#00d0d4 ;
}
.ticket-search-content{
    margin:10px;
    margin-left: 85px;
}
.ticket-search-tittle{
    height: 30px;
    line-height: 30px;
    border-bottom: 1px solid #00bcb4;
}
.ticket-search-tittle-left{
    float: left;
}
.ticket-search-tittle-left a{
    float: left;
    margin-left: 40px;
    color: #999999;
}
.ticket-search-tittle-left a:first-child{
font-size: 14px;
color: #3f3f3f;
}
.ticket-search-tittle-right{
    float: right;
}
.ticket-search-tittle-right a{
    margin-right: 20px;
    color: #999999;
}
.wangfan{
    margin-left: 30px;
}
form{
    margin-left: 28px;
    margin-top: 23px;
    margin-right: 50px;
}
form a input{
    width: 133px;
    height: 42px;
    font-size: 16px;
    color: #fff;
    background: linear-gradient(-136deg,#fac928 0,#ff9800 100%);
    border: none;
    border-radius: 5px;
}
.depart,
.arrive{
    margin: 8px 0;
    height: 37px;
    margin: 17px 0;
}
.depart .place,
.arrive .place{
float: left;
border: 1px solid #ccc;
width: 239px;
height: 37px;
line-height: 37px;
}

.depart .date,
.arrive .date{
    float: right;
    border: 1px solid #ccc;
    width: 239px;
    height: 37px;
    line-height: 37px;
}
.place input,
.date input{
border: none;
}
.place i,
.date i{
float: right;
padding-right: 8px;
color: #999999;
}
.place a,
.date a{
color: #999999;
padding-left: 8px;
}
.search-now{
    height: 40px;
    line-height: 40px;
}
.search-now p{
    float: left;
}
.search-now a{
    float: right;
}
form img{
    margin-top: 22px;
}
/* 今日特惠 */
.discount{
    height: 624px;
    padding-bottom: 30px;
}
.discount-tittle{
    height: 45px;
    line-height: 45px;
    border-bottom: 2px solid #eceef3;
}
.discount-tittle-left{
    float: left;
}
.discount-tittle-left a{
    font-size: 14px;
    padding: 0 15px;
}
.discount-tittle-left a:first-child{
    font-weight: 700;
    color: #00ccdc;
    border-bottom: 2px solid #00ccdc;
    padding-bottom: 15px;
}
.discount-tittle-right{
    float: right;
    margin-right: 160px;
}
.discount-tittle-right a{
    margin-right: 8px;
    color: #757575;
}
.discount-tittle-right i{
    background-color: #00d0d4;
    color: #fff;
    border-radius: 50%;
    font-size: 12px;
    margin: 0 6px;
}
.discount-tittle-right span{
    color: #333333;
}
.discount-content{
    display: inline-block;
    width: 973px;
    height: 361px;
}
.discount-content-top{
    width: 968px;
    height: 264px;
}
.discount-content-top a{
    position: relative;
    float: left;
width: 467px;
height: 264px;
margin-top: 16px;
margin-right: 14px;
border: 1px solid #eee;
}
.discount-content-top a:hover{
    border: 1px solid #07d1c1;
}
.discount-content-top img{
    float: left;
    width: 468px;
height: 264px;
}
.discount-content-top .introduction{
    position: absolute;
    top: 0;
    right: 0;
    width: 178px;
    height: 264px;
    background-color: #333333;
    padding: 0 12px;
}
.discount-content-top .introduction h3{
font-size: 14px;
color: #fff;
text-align: left;
margin-top: 22px;
}
.discount-content-top .introduction p{
    color: #fff;
    font-size: 12px;
    line-height: 1.3;
    margin-top: 37px;
    margin-bottom: 73px;
}
.discount-content-top .introduction span{
    font-size: 16px;
    color: #ff7400;
    font-weight: 700;
}
.discount-content-top .introduction s{
    font-size: 12px;
    color: #ff7400;
    font-weight: 400;
}

.discount-content-bottom a{
    float: left;
width: 227px;
height: 264px;
margin-top: 18px;
margin-right: 13px;
border: 1px solid #eee;

}
.discount-content-bottom a:hover{
    border: 1px solid #07d1c1;
}
.discount-content-bottom div{
    padding: 14px 14px 10px;
}
.discount-content-bottom img{
    width: 227px;
    height: 170px;
}
.discount-content-bottom h3{
font-size: 14px;
color: #333333;
}
.discount-content-bottom p{
    color: #999999;
    text-overflow: ellipsis;
    white-space:nowrap;
    overflow:hidden;
    margin-top: 14px;
    margin-bottom: 10px;
}
.discount-content-bottom span{
    font-size: 18px;
    color: #ff7400;
    font-weight: 700;
}
.discount-content-bottom s{
    font-size: 14px;
    font-weight: 400;
}
.discount-ad{
    float: right;
    position: relative;
    width: 218px;
    height: 460px;
    margin-right: 8px;
}
.discount-ad a img{
    width: 218px;
    height: 460px;
}
.discount-ad>img{
    position: absolute;
    bottom: 0;
    left: 0;
}
/* 当季热门 */
.hot-tittle{
height: 43px;
line-height: 43px;
border-bottom: 2px solid #eceef3;
}
.hot-tittle>img{
    float: left;
margin-top: 12px;
}
.hot-tittle h2{
    /* display: inline-block; */
    font-size: 18px;
    font-weight: 700;
}
.hot-content-link{
    float: left;
}
.hot-content-link-list{
    width: 220px;
    height: 128px;
    box-sizing: border-box;
}
.hot-content-link-list h3{
padding-top: 45px;
padding-bottom: 20px;
font-size: 16px;
font-weight: 400;
color: #333333;
}
.hot-content-link-list ul{
    width: 200px;
    height: 72px;
}
.hot-content-link-list li{
    float: left;
    margin: 0 8px;
    color: #666666;
}
.hot-content-link-list li::before{
    content:"●";  
    color:#dadada;
    margin-right: 4px;
}
.hot-content-link-list li a{
    color: #666666;
}
.hot-content-show{
    float: right;
    width: 968px;
    height: 557px;
}
.hot-content-show-product{
    position: relative;
    float: left;
    width: 227px;
    height: 262px;
    border: 1px solid #eee;
    margin-top: 15px;
    margin-left: 13px;
}
.hot-content-show-product:hover{
    border: 1px solid #07d1c1;
}
.hot-content-show-product p{
    font-size: 14px;
    margin-top: 16px;
    margin-left: 10px;
    margin-bottom: 36px;
    color: #333333;
}
.hot-content-show-product span{
font-size: 16px;
font-weight: 600;
color: #ff7400;
margin-left: 10px;
}
.hot-content-show-product img{

    width: 227px;
    height: 160px;
}
.hot-content-show-product-introduce{
    position: absolute;
    bottom: 102px;
    right: 20%;
    width: 129px;
    height: 61px;
    background-color: rgba(0, 0, 0, 0.5);
    text-align: center;
    line-height: 1.5;
}
.hot-content-show-product-introduce h3{
    font-size: 20px;
    font-weight: 700;
    color: #fff;
    padding-top: 8px;
}
.hot-content-show-product-introduce s{
    color: #ffde00;
}
/* 小贴士 */
.tips{
    height: 290px;
    margin: 30px 0;
}
.tips-ad{
    float: left;
    position: relative;
}
.tips-ad ul{
    position: absolute;
    bottom: 5px;
    right: 43%;
}
.tips-ad li{
    display: inline-block;
    width: 16px;
    height: 16px;
    background-color: #999999;
    border-radius: 50%;
    margin-left: 10px;
}
.tips-ad li:first-child{
    background-color: #ff4500;
}
.tips-ad-img{
    position: absolute;
    bottom: 0;
    left: 0;
}
.tips-content{
    float: right;
    width: 227px;
    height: 286px;
}
.tips-content h3{
    padding: 16px 0;
    font-size: 16px;
    color: #333333;
}
.tips-content a{
    display: inline-block;
    line-height: 1.8;
    color: #999999;
}
.tips-content a:hover{
    text-decoration: underline;
}
/* 景点门票 */
.jingdian-tittle{
    height: 43px;
    line-height: 43px;
    border-bottom: 2px solid #eceef3;
    }
    .jingdian-tittle>img{
        float: left;
    margin-top: 12px;
    }
    .jingdian-tittle h2{
        /* display: inline-block; */
        font-size: 18px;
        font-weight: 700;
    }
    .jingdian-content-link{
        float: left;
    }
    .jingdian-content-link-list{
        width: 220px;
        box-sizing: border-box;
    }
    .jingdian-content-link-list h3{
        display: block;
        font-size: 16px;
        font-weight: 400;
        color: #333333;
    padding-top: 40px;
    padding-bottom: 20px;
    }
    .jingdian-content-link-list ul{
        width: 200px;
        display: block;
    }
    .jingdian-content-link-list li{
        display: inline-block;
        margin: 3px 8px;
        color: #666666;

    }
    .jingdian-content-link-list li::before{
        content:"●";  
        color:#dadada;
        margin-right: 4px;
    }
    .jingdian-content-link-list li a{
        color: #666666;
    }

    .jingdian-content-show{
        float: right;
        width: 968px;
        height: 557px;
    }
    .jingdian-content-show-product{
        position: relative;
        float: left;
        width: 227px;
        height: 277px;
        border: 1px solid #eee;
        margin-top: 15px;
        margin-left: 13px;
    }
    .jingdian-content-show-product:hover{
        border: 1px solid #07d1c1;
    }
    .jingdian-content-show-product h3{
        font-size: 14px;
        font-weight: 700;
        color: #333333;
        margin-left: 10px;
        margin-top: 16px;
    }
    .jingdian-content-show-product p{
        margin-top: 16px;
        margin-left: 10px;
        margin-bottom: 14px;
        color: #aaaaaa;
    } 
    .jingdian-content-show-product span{
    font-size: 16px;
    font-weight: 700;
    color: #ff7400;
    margin-left: 10px;
    }
    .jingdian-content-show-product img{
    
        width: 227px;
        height: 160px;
    }
    /* 攻略 */
    .method-tittle{
        height: 50px;
        margin-top: 20px;
        border-bottom: 2px solid #eceef3;
    }
    .method-tittle-left{
        float: left;
        margin-top: 20px;
    }
    .method-tittle-left i{
        /* display: inline-block; */
        color: #08d1c3;
    }
    .method-tittle-left h2{
        font-size: 18px;
        font-weight: 700;
        color: #333333;
    }
    .method-tittle-center{
        float: left;
        margin-left: 150px;
        margin-top: 20px;
    }
    .method-tittle-center a{
        color: #08d1c3;
        font-size: 16px;
        padding: 0 20px;
    }
    .method-tittle-center a:first-child{
        border-right: 1px solid #ccc;
    }
   
    .method-tittle-right{
        float: right;
        font-size: 14px;
        color: #757575;
        margin-top: 20px;
    }
    .method-tittle-right i{
        border-radius: 50%;
        color: #fff;
        background-color: #08d1c3;
        margin-left: 6px;
    }
    .method-content{
        height: 400px;
    }
    .method-content-left{
        float: left;
        width: 220px;
    }
    .method-content-left h3{
        margin-top: 26px;
        font-size: 16px;
    }
    .method-content-left a{
        display: block;
        margin-top: 16px;
        color: #9e9e9e;
    }
    .method-content-left b{
        font-size: 700;
        color: #616161;
        margin-right: 5px;
    }
    .method-content-right{
        float: right;
        width: 950px;
        height: 384px;
    }
    .method-content-right-top{
height: 52px;
    }
    .method-content-right-top a{
        float: left;
        margin-top: 16px;
        padding: 6px 12px;
        color: #666666;
    }
    .method-content-right-top a:first-child{
        background-color: #00d0d4;
        border-radius: 5px;
        color: #fff;
    }
    .method-content-right-top a:hover{
        background-color: #00d0d4;
        border-radius: 5px;
        color: #fff;
    }
    .method-content-right-body{
        height: 332px;
    }
    .method-content-right-body-left{
        float: left;
    }
    .method-content-right-body-left img{
        width: 433px;
        height: 331px;
    }
    .method-content-right-body-right{
        float: left;
        width: 510px;
        height: 333px;
    }
    .method-content-right-body-right a{
        float: left;
        margin-bottom: 15px;
        margin-left: 14px;
    }
    .method-content-right-body-right a img{
        width: 241px;
        height: 158px;
    }
    /* 骆驼书 */
    .book-content-left{
        float: left;
        width: 233px;
    }
    .book-content-left h3{
        margin-top: 26px;
        font-size: 16px;
    }
    .book-content-left a{
        display: block;
        margin-top: 16px;
        color: #9e9e9e;
    }
    .book-content-left b{
        font-size: 700;
        color: #616161;
        margin-right: 5px;
    }
.book-content-right{
    float: left;
}
.book-content-right-list{
    float: left;
    margin-left: 14px;
    margin-top: 15px;
}
.book-tittle{
    height: 50px;
    margin-top: 20px;
    border-bottom: 2px solid #eceef3;
}
.book-tittle-left{
    float: left;
    margin-top: 20px;
}
.book-tittle-left i{
    /* display: inline-block; */
    color: #08d1c3;
}
.book-tittle-left h2{
    font-size: 18px;
    font-weight: 700;
    color: #333333;
}
.book-tittle-center{
    float: left;
    margin-left: 176px;
    margin-top: 20px;
}
.book-tittle-center a{
    color: #333333;
    font-size: 14px;
    padding: 0 16px;
}
.book-tittle-center a:first-child{
    color: #08d1c3;
    border-bottom: 2px solid #0cccde;
    padding-bottom: 15px;
}

.book-tittle-right{
    float: right;
    font-size: 14px;
    color: #757575;
    margin-top: 20px;
}
.book-tittle-right i{
    border-radius: 50%;
    color: #fff;
    background-color: #08d1c3;
    margin-left: 6px;
}
/* 下载app */
.app{
    height: 184px;
    background: linear-gradient(90deg,#00d0d4 19%,#00c5c3 58%,#9effa4 100%);
    margin-top: 100px;

}
.app-left{
    float: left;
    margin-top: 20px;
}
.app-left img{
    display: block;
}
.app-left a{
    display: inline-block;
    width: 84px;
    height: 36px;
    background-color: #fff;
    color: #08d1c3;
    font-size: 16px;
    font-weight: 700;
    border-radius: 5px;
    text-align: center;
    line-height: 36px;
    margin-top: 10px;
}
.app-right{
    position: absolute;
    top: -38px;
    right: 58px;
}
.app-right img{
    margin-right: 20px;
    vertical-align: bottom;
}